.editor-stage {
  height: 100%;
  display: grid;
  grid-template-areas: "stage-toolbar" "stage-container";
  grid-template-rows: 75px 1fr;
}

.editor-stage__toolbar {
  display: flex;
  grid-area: stage-toolbar;
}

.editor-stage__container {
  grid-area: stage-container;
  outline: none;
}
