.level-editor {
  height: 100%;
  display: grid;
  grid-template-areas: "level-info" "level-stage" "level-blocks";
  grid-template-rows: 75px 1fr 150px;
}

.level-editor__info {
  grid-area: level-info;
  display: flex;
  padding: 8px;
}

.level-editor__stage {
  grid-area: level-stage;
  position: relative;
  height: 100%;
}

.level-editor__blocks {
  grid-area: level-blocks;
}
