.app {
  height: 100%;
  display: grid;
  grid-template-areas: "levels editor";
  grid-template-columns: 200px 1fr;
}

.app__level {
  grid-area: levels;
}

.app__stage {
  grid-area: editor;
  position: relative;
  height: 100%;
}
