.app {
  height: 100%;
  display: grid;
  grid-template-areas: "levels template-editor";
  grid-template-columns: 200px 1fr;
}

.app__level {
  grid-area: levels;
}

.app__template-editor {
  grid-area: template-editor;
}
