.template-editor {
  height: 100%;
  display: grid;
  grid-template-areas: "template-stage" "template-blocks";
  grid-template-rows: 1fr 150px;
}

.template-editor__stage {
  grid-area: template-stage;
  position: relative;
  height: 100%;
}

.template-editor__blocks {
  grid-area: template-blocks;
}

.template-editor__info {
  display: flex;
}
