.cards-list {
  display: flex;
  flex-direction: column;
}

.cards-list__title {
  margin-bottom: 12px;
}

.cards-list__items {
  display: flex;
  overflow-x: auto;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 4px;
}

.cards-list__items > :not(:last-child) {
  margin-right: 12px;
}
